*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#153677, #4e085f);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 25vh;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;

}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

#rowDF,
#rowSL,
#rowBFA,
#rowL,
#rowWOD,
#rowMOP,
#rowC,
#rowWOTLK,
#rowBC,
#rowClassic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 0;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.addTask {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;   
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  
}

ul li span:hover {
  background: #edeef0;
}

ol {
  display: flex;
}

ol > li {
  list-style: none;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1.2em;
  background-color: grey;
  border-radius: 5%;
}

ol > li:hover {
  background: #8d0ead;
  cursor: pointer;
}

h2 {
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
}

#list-containerDF,
#list-containerSL,
#list-containerBFA,
#list-containerL,
#list-containerWOD,
#list-containerMOP,
#list-containerC,
#list-containerWOTLK,
#list-containerBC,
#list-containerClassic,
#rowDF,
#rowSL,
#rowBFA,
#rowL,
#rowWOD,
#rowMOP,
#rowC,
#rowWOTLK,
#rowBC,
#rowClassic {
  display: none;
  margin-bottom: 20px;
}

#list-containerDF.active,
#list-containerSL.active,
#list-containerBFA.active,
#list-containerL.active,
#list-containerWOD.active,
#list-containerMOP.active,
#list-containerC.active,
#list-containerWOTLK.active,
#list-containerBC.active,
#list-containerClassic.active {
  height: auto;
  display: block;
}

#rowDF.active,
#rowSL.active,
#rowBFA.active,
#rowL.active,
#rowWOD.active,
#rowMOP.active,
#rowC.active,
#rowWOTLK.active,
#rowBC.active,
#rowClassic.active {
  height: auto;
  display: flex;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.noSelect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}